<IfModule mod_rewrite.c>
    Header set Access-Control-Allow-Origin: "*"
    Header set Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
    Header set Access-Control-Allow-Headers: "Content-Type"
</IfModule>
Header set Access-Control-Allow-Origin "http://localhost:3000"
